.idea
###> symfony/framework-bundle ###
#/pages_hierarchy.xlsx
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/docker/**
/db-data/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/nbproject/private/
shablons/
/public/assets/index-26147f81.js
