.idea
###> symfony/framework-bundle ###
#/pages_hierarchy.xlsx
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/nbproject/private/
shablons/
/migrations/Version20220401162203.php
/migrations/Version20220401163652.php
/migrations/Version20220401172025.php
/migrations/Version20220421140127.php
/migrations/Version20220421140552.php
/migrations/Version20220421141651.php
/migrations/Version20220421150419.php
/migrations/Version20220501120434.php
/migrations/Version20220618132213.php
/migrations/Version20220618153725.php
/migrations/Version20220619074705.php
