*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a:focus,a:active{outline: none;}

html{
  font-family: "Arial", sans-serif;
  width: 100%;
  line-height: 1.2;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

/*--------------------*/
/*для меню*/

  a.button15 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
/*  padding: .2em 1.2em;*/
  padding: 5px 12px;
  outline: none;
  border: 1px solid rgb(0,0,0,.1);
  border-radius: 3px;
  background: #f1f1f1 linear-gradient(#f9f9f9, #f1f1f1);
  transition: all .218s ease 0s;
}
a.button15:active {
/*  color: rgb(24,24,24);*/
  border: 1px solid rgb(198,198,198);
  background: linear-gradient(#d6d6d6, #f7f7f7);
  box-shadow: 0 1px 2px rgb(0,0,0,.1);
}
a.button15:hover {
/*  color: rgb(51,51,51);*/
  border: 1px solid rgb(204,204,204);
  background: linear-gradient(#f7f7f7, #FFE498);
  box-shadow: 0 1px 2px rgb(0,0,0,.1) inset;
}


 /*свои стили*/
 .mywrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: arial;
  background: #f6f6f6;
}

.blokfull_menu{
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 49px;
  background: #ffc107;
}
.logo {
  position: absolute;
  margin: 0 2%;
  width: 100px;
  height: 48px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  /* background-position: -40px 0px; */
  background-size: cover;
}
.logo img {
  height: 100%;
  width: auto;
}
.menu_telo{
  margin-left: 12%;
  margin-right: auto;
  /* width: 80%; */
  padding: 6px 0;
}

.telo{
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  min-height: 100vh;
}

.left_nav {
  display: inline-block;
  height: auto;
  width: 12%;
  background-color: #343a40;
  padding: 5px;
  margin-right: 3px;
  letter-spacing: 0.07em;

}
.head_left_nav {
  display: block;
  font-family: arial,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(230, 230, 230);
  padding: 0 2px;
  margin: 5px 0 2px;
  overflow-wrap: normal;
  -webkit-hyphens: none; ​
}
.left hr {
    color: #c1c1c1;
    background-color: #c1c1c1;
    height: 2px;
    z-index: 1;
}
.button_left_nav{
  display: block;
  font-family: arial,sans-serif;
  font-size: 16px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
  padding: 6px 2px;
  outline: none;
  background: #344f57;
  transition: all .218s ease 0s;
  margin-bottom: 3px;
  overflow-wrap: normal;
 -webkit-hyphens: none; ​-ms-hyphens: none; hyphens: none;
}
.button_left_nav:hover {
  background: #fdfdfd;
}


.workspace{
  height: auto;
  background: #f6f6f6;
  min-width: 85%;
  padding: 5px;
  /* width: 100%; */
  margin: 0 auto;
  letter-spacing: 0.1em;
  /* word-spacing: 6px; */
}


.list_head_div {
  display: flex;
  justify-content: flex-start;
  margin-right: 12px;
  padding-right: 10px;
}
.list_head {
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 12px;
  padding: 3px 3px 3px 22px;
}

.list_block {
  border: rgba(0,0,0,0.22) solid 1px;
  border-radius: 15px;
  margin: 12px;
  padding: 10px;
  font-size: 15px;
  font-family: "PT Sans","Helvetica","Arial",sans-serif;;
  line-height: 1.42857;
  transition-duration: 0.3s;
  background: #ffffff ;
  /* transition-timing-function: ease-in-out; */
}
.list_block:hover {
  box-shadow:0 5px 5px rgba(0,0,0,0.22);
}
a.list_a {
  color: rgba(0,0,0,0.70);
}
a.list_a:hover {
  color: black;
}
.card_block {
  background: #ffffff ;
  display: flex;
  align-items: stretch;
  justify-content: space-around;

  border: rgba(0,0,0,0.22) solid 1px;
  border-radius: 15px;
  margin: 12px;
  padding: 10px;
  font-size: 15px;
  font-family: "PT Sans","Helvetica","Arial",sans-serif;;
  line-height: 1.42857;
  box-shadow:0 5px 5px rgba(0,0,0,0.22);
}
.list_block_data {
    /* border: 1px solid; */
    width: 47%;
}

.carousel  {
  border: 5px solid #fafafa;
  border-top-width: 11px;
  border-bottom-width: 16px;
  -webkit-box-shadow: 3px 3px 6px 4px #888;
  -moz-box-shadow: 3px 3px 6px 4px #888;
  box-shadow: 3px 3px 6px 4px #888;
  width: 600px;
  margin: 10px;
  }


  /* ************************ */
#filter .list_filter_label {
  font-size: 16px;
  font-family: serif;
  font-weight: bold;
  margin-right: 5px;
}
#filter .form-check-label {
  font-size: 14px;
}

/* Разные служебные стили */
.polaroid {
  position: relative;
  display: inline;
}
.polaroid img {
border: 5px solid #fafafa;
border-top-width: 11px;
border-bottom-width: 16px;
-webkit-box-shadow: 3px 3px 6px 4px #888;
-moz-box-shadow: 3px 3px 6px 4px #888;
box-shadow: 3px 3px 6px 4px #888;
height: 250px;
margin: 10px;
}
.polaroid img:active {
height: 550px;
}
.message{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  background-color: #e6e6e6;
  border-radius: 4px;
  font-size: 14px; 
}
/* Конец Разные служебные стили */



.filesmini{
  border: solid 1px;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 2px;
}
.message{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  background-color: #e6e6e6;
  border-radius: 4px;
  font-size: 14px;  
}
.image_doc{
  display: block;
  width: 110px;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px; 
  margin-left: 5px;
}


.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #996633;
  padding: 10px;
}
.footer_telo{
  margin-left: auto;
  margin-right: auto;
  width: 80%
}


.head_img{
  background: url(../img/head.JPG) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  background-position: center;
  height: 200px;
  margin: 0 ;
}






.lichinfo_itog{
  text-align: center;
  padding-bottom: 15px;
}

.unvisible{display:none}

.gia {
  color: blue;
}

.form_head {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: block;
}
.form_head_2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
}
.form_files {
  display: block;
  margin-bottom: 5px;
}
.form_end {
  display: block;
  margin: 10px 0;
  font-family: Arial;
  font-size: 16px;
}
.form_end_end {
  display: block;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
}
.button_form {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  margin: 5px 0;
  outline: none;
  border: 1px solid rgb(0,0,0,.1);
  border-radius: 3px;
  background: #f1f1f1 linear-gradient(#f6f6f6, #f1f1f1);
  transition: all .218s ease 0s;
}
.button_form:active {
/*  color: rgb(24,24,24);*/
  border: 1px solid rgb(198,198,198);
  background: linear-gradient(#d6d6d6, #f7f7f7);
  box-shadow: 0 1px 2px rgb(0,0,0,.1);
}
.button_form:hover {
/*  color: rgb(51,51,51);*/
  border: 1px solid rgb(204,204,204);
  background: linear-gradient(#f7f7f7, #d6d6d6);
  box-shadow: 0 1px 2px rgb(0,0,0,.1) inset;
}
a.button_itog {
  margin: 10px 0 10px 0;
  font-family: arial,sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgb(0,0,0,.1);
  border-radius: 3px;
  background: #f1f1f1 linear-gradient(#f6f6f6, #f1f1f1);
  transition: all .218s ease 0s;
}
.button_itog:active {
/*  color: rgb(24,24,24);*/
  border: 1px solid rgb(198,198,198);
  background: linear-gradient(#d6d6d6, #f7f7f7);
  box-shadow: 0 1px 2px rgb(0,0,0,.1);
}
.button_itog:hover {
/*  color: rgb(51,51,51);*/
  border: 1px solid rgb(204,204,204);
  background: linear-gradient(#f7f7f7, #d6d6d6);
  box-shadow: 0 1px 2px rgb(0,0,0,.1) inset;
  margin-top: 20px;
}

.parrent_auth {
  width: 100%;
  border: 1px solid;
  font-size: 10px;
  padding: 3px 10px;
}


/*------оформление блоков загрузки файлов---------*/
.filesmini{
  border: solid 1px;
  border-radius: 3px;
  padding: 4px;
  margin-bottom: 2px;
}
.filesmini_wrap_files {
  display: flex;
}
.file_and_img {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  /*border: 1px solid red;*/
  margin-right: 3px;
}
.img_form_pmpk{
  width: 80px;
}
.form_auth_parrent{
  align-items: center;
  margin: 0 auto;
}
.form_auth_parrent span{
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.form_auth_parrent form{
  width: 600px;
  margin: 30px auto 0;
  border: #888 1px solid;
  padding: 10px 20px;
  border-radius: 5px;
}

.form_auth_pmpk{
  align-items: center;
  margin: 0 auto;
}
.form_auth_pmpk span{
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.form_auth_pmpk form{
  width: 600px;
  margin: 30px auto 0;
  border: #888 1px solid;
  padding: 10px 20px;
  border-radius: 5px;
}