{% extends 'admin/admin_index_cards.html.twig' %}
{% block title %}Все записи{% endblock %}


{% block body %}

                    <div class="col-12 p-0">
                        <div class="admin-header-with-button">
                            <h1>Запись {{ card.id }}</h1>
{#                            <div><a class="btn btn-primary mb-3" href="{{ path('app_admin_card_create') }}">Создать новую запись</a></div>#}
                        </div>
                    </div>
                    {{ card_div(card) }}
    <script>
        {#const DelButtons = document.querySelectorAll('.del_service');#}

        {#DelButtons.forEach( el => {#}
        {#    el.addEventListener('click', ()=> {#}

        {#        let data = {del_id: el.dataset.servId,}#}

        {#        let newData = JSON.stringify(data)#}
        {#        fetch("{{ path('app_api1_crm_service_delite') }}", {#}
        {#            method: 'POST',#}
        {#            headers: {#}
        {#                'Content-Type': 'application/json;charset=utf-8'#}
        {#            },#}
        {#            body: newData,#}
        {#        })#}
        {#            .then( res => { return res.json()} )#}
        {#            .then(data => {#}
        {#                console.log(data); return  JSON.stringify( data) })#}
        {#            .then(data => {return JSON.parse( data ) })#}
        {#            .then(data => {#}
        {#                if (data.result === 'DELITED') window.location.href = '/admin/service/all';#}
        {#            });#}
        {#    })#}
        {#});#}


    </script>



{% endblock %}
