.calendar_wrap {
    /* display: flex; */
    text-align: center;
    /*border: solid 1px rgb(55, 158, 253);*/
    border-radius: 7px;
    background-color: #fcfcfc;
    padding: 20px 0;
}

.calendar {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.calendar a {
    color: black;
}


#calendar_row {
    display: flex;
    justify-content: start;
    margin: 0 auto;
}

.days {
    display: inline-block;
    border: solid 1px rgb(55, 158, 253);
    text-align: center;
    border-radius: 5px;
    width: 11%;
    padding: 5px;
    margin: 5px;
    transition: all .218s ease 0s;
}
.days.weak {
    border: solid 2px rgb(55, 158, 253);
    background: rgb(165, 212, 255);
}

.days_now {
    background: rgb(192, 225, 255);
}
.days:hover {
    box-sizing: border-box;
    background: rgb(92, 175, 253);
    border: rgb(0, 127, 247);
    color: white;
    /* box-shadow: 2px 2px 2px rgb(0, 127, 247); */
    cursor: pointer;
}


.times {
    display: inline-block;
    background: rgb(14, 229, 0);
    color: white;
    border: solid 1px rgb(14, 198, 0);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: all .218s ease 0s;
    cursor: pointer;
}
/*.times:hover {*/
/*    box-sizing: border-box;*/
/*    background: rgb(14, 229, 0);*/
/*    color: white;*/
/*    cursor: pointer;*/
/*}*/

.schedule-line{
    display: flex;
    justify-content: flex-start;
}
.wrapper{
    padding: 20px;
}
