.schedule_table {
    display: flex;
}

.schedule_days {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 1px;
}
.schedule_days > div {
    text-align: center;
    font-size: 12px;
    padding: 2px;
}

.schedule_block {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(48, 1fr);
    grid-gap: 1px;
    width: 527px;
    /*height: 111px;*/
}
.schedule_block > div {
    background: gold;
    text-align: center;
    font-size: 10px;
    padding: 2px;
}

.to_blue {
    background: #0a53be!important;
}

.schedule_line_date {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(48, 1fr);
    grid-gap: 1px;
    width: 527px;
    height: 22px;
}
.schedule_line_date > div {
    background: gold;
    text-align: center;
    font-size: 10px;
    padding: 2px;
}