<!DOCTYPE html>
<html lang="ru">
    {% include 'temp/head.html.twig' %}


<body>
<div class="all">
    {% include 'temp/menu1.html.twig' %}
    <div class="big_content">
        {% include 'temp/left_border.html.twig' %}
        <!-- Блок содержимого центрального блока -->
        <div class="content">
            {% block body %}



            {% endblock %}


        </div>
        <!-- Конец блока содержимого центрального блока -->
        {% include 'temp/right_border.html.twig' %}
    </div>
</div>
</body>
</html>