{% extends 'base.html.twig' %}

{% block title %}
    ХОМ просто
{% endblock %}
{% block body %}

    <div class="telo-homepage">
		<span class="hed1">Бюджетное учреждение
«Городской центр психолого-педагогической,
медицинской и социальной помощи»
	города Омска<br></span>
        <div class="telo_content">
            <style media="screen">
                .index_telo_img{
                    position: relative;
                    width: 100%;
                }
                .index_telo_img img {
                    width: 100%;
                }
            </style>
            <div class="index_telo_img">
                <img src="/img/head.jpg" alt="" style="position: relative;">
            </div>
        </div>
        <div class="telo_content_text">
            <p style="font-size:17px">
                Бюджетное учреждение «Городской центр психолого-педагогической, медицинской и социальной помощи» города Омска (в дальнейшем именуемое – Учреждение) создано в соответствии с Гражданским кодексом Российской Федерации,
                Федеральным законом «О некоммерческих организациях», Законом Российской
                Федерации «Об образовании в Российской Федерации», зарегистрировано
                постановлением Омской городской регистрационной палаты от 23.06.1999,  регистрационный № 38612330/336.
            </p>
            <p style="font-size:17px">
                Учредителем Учреждения является муниципальное образование городской округ город Омск Омской области. Функции и полномочия учредителя Учреждения осуществляет уполномоченный органом местного самоуправления департамент образования Администрации города Омска.
            </p>
            <p style="font-size:17px">
                Собственником имущества Учреждения является муниципальное образование городской округ город Омск Омской области. Права собственника в отношении закрепленным за Учреждением имуществом осуществляет в пределах своей компетенции департамент имущественных отношений Администрации города Омска.
            </p>
            <p style="font-size:17px">
                Организационно-правовая форма Учреждения: муниципальное бюджетное учреждение.
            </p>
            <p style="font-size:17px">
                Учреждение является некоммерческой организацией, созданной муниципальным  образованием городской округ город Омск Омской области в целях обеспечения реализации предусмотренных законодательством Российской Федерации полномочий органов местного самоуправления муниципальных районов и городских округов в сфере образования, в частности по организации предоставления психолого-педагогической, медицинской и социальной помощи обучающимся, испытывающим трудности в освоении основных общеобразовательных программ, своем развитии и социальной адаптации, осуществляющей образовательную деятельность по дополнительным образовательным программам, программам дошкольного образования, программам профессионального обучения.
            </p>
            <p style="font-size:17px">
                Полное наименование Учреждения: Бюджетное учреждение «Городской центр психолого-педагогической, медицинской и социальной помощи» города Омска.
            </p>
            <p style="font-size:17px">
                Сокращенное наименование Учреждения: БУ «Городской психологический центр» г. Омска;  БУ «ГЦППМСП» г. Омска.
            </p>
            <p style="font-size:17px">
                Место нахождения Учреждения:<br>
                Юридический адрес: 644070, Российская Федерация, г. Омск, улица Куйбышева, 27/7.<br>
                Фактические адреса:<br>
                644070, Российская Федерация, г. Омск, улица Куйбышева, 27/7;<br>
                644006,Российская Федерация, г. Омск, улица Орловского, 10;<br>
                644085, Российская Федерация, г. Омск, проспект Мира, 165А.<br>
                Почтовый адрес: 644085, Российская Федерация, г. Омск, проспект Мира, 165А.<br>
            </p>
        </div>
    </div>



{% endblock %}
