<div class="menu_baza">
	<div class="menu_full">
		<div class="menu">
			<div class="menu_button">
				<a href="/">Главная</a>
			</div>
			<div class="menu_button">
				<a href="{{ path('app_article_all') }}">Новости</a>
			</div>
			<div class="menu_button">
				<a href="#">Документы</a></div>
			<div class="menu_button">
				<a href="{{ path('app_booking_filials') }}">Запись на консультацию</a>
			</div>
			<div class="menu_button">
				<a href="{{ path('app_admin') }}">АДМИНКА</a>
			</div>
		</div>
	</div>
</div>
