<div class="menu_baza">
	<div class="menu_full">
		<div class="menu">
			<div class="menu_button">
				<a href="/">Главная</a>
			</div>

			<div class="menu_button">
				<a href="{{ path('app_admin') }}">вход</a>
			</div>
		</div>
	</div>
</div>
<script>
	{
		const myF = ()=>{

			const dropEls = document.querySelectorAll("[data-active='myDropdown']");

			dropEls.forEach((el) => {
				el.addEventListener( "click", () => {
					el.querySelector(".dropdown-content").classList.toggle("show");
				})
			})
		}
		myF();
	}


</script>
