</head>
<body>
<div class="mywrapper">

<div class="blokfull_menu ">
    <div class="logo"></div>
    <div class="menu_telo">
        <a href="/" class="button15">обработка записей</a>
        <a href="/old/do/logout.php" class="button15">выход</a>
    </div>
</div>

<div class="telo">
    <!--  Вставили левое меню  -->
    <div class="left_nav">
        {% if app.user %}
        {% include "parts/left_arm.html.twig" %}
        {% endif %}
    </div>
    <div class="workspace">
