<span class="head_left_nav">Заявки на ПМПК</span>
<div class="left">
    <hr>
</div>
<a href="?list_status=new" class="button_left_nav">Не обработанные</a>
<a href="?list_status=in_queue" class="button_left_nav">Записанные заявки</a>
<a href="?list_status=rejected" class="button_left_nav">Отклоненные заявки</a>
<a href="?list_status=arhived" class="button_left_nav">Архив</a>
