</div>
</div>

<div class="footer">
    <div class="footer_telo">
        <span style="font-size: 20px; color:white">ДЛЯ РОДИТЕЛЕЙ - <a href="https://гпмпк.рф">форма</a></span><br>
        Городской центр психолого-педагогической, медицинской и социальной помощи - <a
                href="https://гцппмсп.рф">ГЦППМСП</a><br>
        Городская психолого-медикщ-педагогическая комиссия - <a href="https://гпмпк.рф">ГПМПК</a><br>
        Региональный веб-портал для родителей - <a href="https://родителям55.рф">ПОДДЕРЖКА СЕМЕЙ, ИМЕЮЩИХ ДЕТЕЙ</a><br>
    </div>
</div>
</div>
<div id="to_scripts">
    <script>
        $(function () {
            $('.custom-file' ).each(function () {
                const $container = $(this);

                $container.on('change', '.custom-file-input', function (event) {
                    $container.find('.custom-file-label').html(event.currentTarget.files[0].name);
                });
            });
        });
    </script>
</div>

</body>
</html>