<span class="head_left_nav">Управление услугами</span>
<hr style="border-color: white">

<a href="{{ path('app_admin_card_all') }}" class="button_left_nav">Список записей</a>

<br>
<br>

<hr style="background: white;">

